.container {
    width: 7.02rem;
    height: 100%;
    min-height: 1px;
    margin: 0 auto;
    display: flex;
}
.header{
    width: 7.5rem;
    height: 0.88rem;
    margin: 0 auto;
}
.header img{
    width: 0.3rem;
    height: 0.4rem;
    display: block;
    margin-top: 0.2rem;
}
/*header*/

.content{
    width: 7.02rem;
    height: 5.1rem;
    margin: 0 auto;
}
.title{
    font-size: 0.36rem;
    color: rgba(0,0,0,0.5);
}
.line{
    width: 7.02rem;
    height: 0.01rem;
    background: rgba(0,0,0,0.3);
    margin-top: 0.21rem;
}
.showPrice{
    width: 7.02rem;
    height: 0.4rem;
    margin-top: 0.1rem;
    display: flex;
}
.total{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.8);
    flex-grow: 1;
}
.money{
    font-size: 0.18rem;
    color: #ff1515;
    margin-top: 0.1rem;
}
.price{
    font-size: 0.36rem;
    color: #ff260f;
}
.bankcard{
    width: 5.93rem;
    height: 3.27rem;
    margin: 0.38rem auto 0;
    border-radius: 0.2rem;
}
.bankcard img{
    width: 5.93rem;
    height: 3.27rem;
}
/*content*/

.footer{
    width: 7.5rem;
    height:  8.25rem;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 -0.14rem 0.32rem 0 rgba(171, 171, 171, 0.32);
    margin: -0.89rem auto 0;
    padding-top: 1rem;
    position: relative;
}
.footerFinish{
    font-size: 0.24rem;
    color: #000000;
    text-align: center;
}
.list{
    width: 4.5rem;
    height: 1.79rem;
    margin: 0.59rem auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    width: 0.61rem;
    height: 1rem;
}
.dian{
    width: 0.19rem;
    height: 0.19rem;
    background-color: #707070;
    border-radius: 50%;
    margin: 0.2rem auto;
}
.xian{
    width: 0.61rem;
    height: 0.08rem;
    background-color: #d4d4d4;
    border-radius: 0.04rem;
    margin-top: 0.2rem;
}
.num{
    width: 7.5rem;
    height: 4.28rem;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    margin: 0.2rem auto 0;
}
.num img{
    width: 7.5rem;
    height: 4.28rem;
    display: block;
}
/*footer*/